<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="initialConnectionString" value="Data Source=(localdb)\localdb;Integrated Security=true"/>
		<add key="connectionString" value="Data Source=(localdb)\localdb;Integrated Security=true;Database=Flashcards"/>
	</appSettings>
</configuration>